html {
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(100deg, rgb(70, 0, 124), rgb(77, 33, 159), rgb(61, 112, 201));
    background-color: rgb(66, 1, 127);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #23002f;
}
dialog {
    border: 1px solid grey;
    border-radius: 15px;
    width: 200px;
    padding: 4px;
    background: linear-gradient(180deg, rgba(104, 103, 103, 0.2),rgba(173, 173, 173, 0.174), rgba(255, 255, 255, 0.162));
    backdrop-filter: blur(10px);
}
dialog ul {
    list-style-type: none;
}
dialog h2 {
    color: #23002f;
}
dialog ul a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 15px;
    display: inline-block;
}
dialog button {
    background-color: #320045;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    font-weight: 700;
}
header {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 1000;
    background: linear-gradient(180deg, rgba(104, 103, 103, 0.2),rgba(173, 173, 173, 0.174), rgba(255, 255, 255, 0.162));
    width: 98%;
    border-radius: 50px;
    padding: 5px;
    border: 0.5px rgba(173, 173, 173, 0.248) solid;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 50px rgba(0, 41, 80, 0.623);
}
nav {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
}
nav button {
    display: none;
}
nav h2 {
    color: rgb(35, 0, 69);
    letter-spacing: 3px;
}
nav h2 span {
    color: rgb(43, 0, 87);
    text-shadow: 0px 4px 20px rgb(32, 0, 71);
    filter: drop-shadow(0px 4px 10px rgb(0, 110, 255)) blur(0.9px);
}
nav ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
}
nav ul a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    transition: 0.4s ease;
}
nav ul a:hover {
    color: rgb(227, 200, 252);
}
.main {
    margin-top: 250px;
    background-color: rgba(255, 255, 255, 0.093);
    padding: 10px;
    height: 350px;
    border-radius: 25px;
    border: 0.5px solid slategray;
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 50px rgba(0, 41, 80, 0.623);
    transition: 0.7s ease;
}
.main:hover {
    transform: translateY(-20px);
    box-shadow: 0px 4px 150px rgba(53, 0, 144, 0.623);
    background-color: rgba(255, 255, 255, 0.129);
}
.main .name {
    margin-top: 60px;
    color: #320045;
    font-size: 31px;
}
.main h1 {
    font-size: 40px;
    color: rgb(120, 194, 255);
    margin-top: 60px;
}
.features {
    margin-top: 50px;
    transition: 0.6s ease;
}
.features h1 {
    color: white;
    margin-top: 170px;
}
.features .features-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 70px;
}
.features .features-card {
    display: inline-block;
    width: 400px;
    padding: 10px;
    background-color: rgba(137, 43, 226, 0.284);
    border-radius: 30px;
    border: 0.5px rgb(33, 0, 50) solid;
    overflow: auto;
    margin-top: 50px;
    color: white;
    transition: 0.6s ease;
    margin-right: 10px;
}
.features .features-card:hover {
    transform: translateY(-20px) scale(1.03);
    box-shadow: 0px 4px 90px rgba(0, 56, 109, 0.427);
}
@media (max-width: 650px) {
    nav ul {
        display: none;
    }
    header {
        width: 95%;
    }
    nav button {
        display: inline-block;
        width: 100px;
        font-size: xx-large;
        background-color: rgba(0, 0, 0, 0%);
        border: none;
        color: white;
    }
}
@media (max-width: 450px) {
    nav ul {
        display: none;
    }
    header {
        width: 90%;
    }
    nav button {
        display: inline-block;
        width: 100px;
        font-size: xx-large;
        background-color: rgba(0, 0, 0, 0%);
        border: none;
        color: white;
    }
}
@media (max-width: 300px) {
    .main {
        margin-top: 130px;
        background-color: rgba(255, 255, 255, 0.093);
        padding: 10px;
        height: 350px;
        border-radius: 25px;
        border: 0.5px solid slategray;
        backdrop-filter: blur(5px);
        box-shadow: 0px 4px 50px rgba(0, 41, 80, 0.623);
        transition: 0.7s ease;
    }
}
.courses h1 {
    color: white;
}
.courses .courses-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.courses .courses-box a {
    color: black;
}
.courses .courses-box .course {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.871);
    padding: 30px;
    margin-top: 70px;
    border-radius: 20px;
    width: 200px;
    height: 230px;
    transition: 0.6s ease;
    border: 1px rgb(33, 33, 33) solid;
    margin-right: 15px;
}
.courses .courses-box .course:hover {
    background-color: rgb(224, 223, 223);
    transform: rotate(7deg) scale(1.08);
}
.courses .courses-box .course img {
    display: inline-block;
    margin-top: 10px;
    width: 200px;
    border-radius: 20px;
}
.course2 a {
    display: inline-block;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1000;
    font-size: x-large;
    color: rgb(53, 0, 102);
    background-color: white;
    padding: 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 30px;
}
.course2 h1 {
    color: white;
}
.course2 .course-videos {
    margin-bottom: 100px;
}
.course2 .course-videos iframe {
    width: 300px;
    height: 175px;
    margin-top: 25px;
    display: inline-block;
    border-radius: 15px;
}
.contact h1 {
    color: white;
    margin-bottom: 50px;
}
.contact a {
    text-decoration: none;
}
.contact img {
    width: 70px;
    transition: 0.6s ease;
}
.contact img:hover {
    transform: rotate(25deg) scale(1.2);
    opacity: 80%;

}
